ErrorDocument 404 /proyecto/View/web/ErrorPages/404.html
ErrorDocument 500 /proyecto/View/web/ErrorPages/404.html
ErrorDocument 403 /proyecto/View/web/ErrorPages/404.html
ErrorDocument 401 /proyecto/View/web/ErrorPages/404.html

ServerSignature Off

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php
</IfModule>

<Files .htaccess>
Order allow,deny
Deny from all
</Files>